.contentContainer {
  height: 100%;
  width: 100%;
}

.landingSection {
  height: 100%;
  width: 100%;
  display: flex;
}

.leftSideContainer {
  width: 50%;
  height: 100%;
  background-color: rgb(2, 81, 82);
}
