.contentContainer {
  height: 100%;
  width: 100%;
}

.landingSection {
  height: 100%;
  width: 100%;
  display: flex;
  background-image: url("./assets/images/hero.jpg");
  background-position: -9.5rem -42rem;
  background-size: 150%;
  background-repeat: no-repeat;
}

.leftSideContainer {
  height: 100%;
  width: 100%;
  position: relative;
}

.backgroundContainer {
  width: 50%;
  height: 100%;
  background-color: rgb(2, 81, 82);
  opacity: 0.5;
}

.labelsContainer {
  height: 100%;
  width: 50%;
  z-index: 1;
  position: absolute;
  top: 0;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.titleLabel {
  font-size: 4.6rem;
  word-wrap: break-word;
  color: #fff;
  margin-left: 3rem;
  line-height: 65px;
  margin-bottom: 0px;
  margin-top: 0px;
}

.titleLabel span {
  color: #cbc74d;
}

.subTitleLabel {
  font-size: 1.8rem;
  color: #fff;
  align-self: flex-start;
  margin-left: 3rem;
  opacity: 0.8;
}
