.contentContainer {
  height: 100%;
  width: 100%;
}

.landingSection {
  height: 100%;
  width: 100%;
  display: flex;
  background-image: url("./assets/images/hero.jpg");
  background-position: -9.5rem -42rem;
  background-size: 150%;
  background-repeat: no-repeat;
  position: relative;
}

.leftSideContainer {
  height: 100%;
  width: 100%;
  position: relative;
}

.backgroundContainer {
  width: 50%;
  height: 100%;
  background-color: rgb(2, 81, 82);
  opacity: 0.5;
}

.labelsContainer {
  height: 100%;
  width: 50%;
  z-index: 1;
  position: absolute;
  top: 0;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.titleLabel {
  font-size: 4.6rem;
  word-wrap: break-word;
  color: #fff;
  margin-left: 3rem;
  line-height: 65px;
  margin-bottom: 0px;
  margin-top: 0px;
}

.titleLabel span {
  color: #cbc74d;
}

.subTitleLabel {
  font-size: 1.8rem;
  color: #fff;
  align-self: flex-start;
  margin-left: 3rem;
  opacity: 0.8;
}

.scrollContainer {
  position: absolute;
  right: 2%;
  bottom: 3%;
  background-color: rgba(255, 255, 255, 0.311);
  border-radius: 100%;
  height: 50px;
  width: 50px;
  animation: pulse 3s infinite ease-in-out;
}
.icon {
  width: 50px;
  height: 50px;
  filter: invert(1);
  color: #fff;
}

@keyframes pulse {
  0% {
    transform: scale(1);
    box-shadow: 0 0 0 0 rgba(255, 255, 255, 0.311);
  }
  50% {
    transform: scale(1.1);
    box-shadow: 0 0 0 10px rgba(52, 152, 219, 0);
  }
  100% {
    transform: scale(1);
    box-shadow: 0 0 0 0 rgba(255, 255, 255, 0.311);
  }
}

.sectionsContainer {
  display: flex;
  height: 65%;
  overflow-x: hidden;
}

.productsAndServicesSection {
  height: 100%;
  width: 100%;
  min-width: calc(100vw - 15px);
  display: flex;
  flex-direction: row-reverse;
  background-image: url("./assets/images/products_services.jpg");
  background-repeat: no-repeat;
  background-position: center;
  background-size: 100%;
}

.labelsRight {
  width: 50%;
  background-color: rgba(2, 81, 82, 0.5);
}

.mainLabel {
  color: #fff;
  margin-left: 25px;

  font-size: 46px;
}

.labelsRight p {
  color: #fff;
  padding: 0px 25px;
}
