html,
body {
  height: calc(100% - 50px);
  margin: 0;
}

body {
  align-items: stretch;
  background-color: #f6f6f6;
}

p,
h1 {
  margin: 0px;
}

.titleContainer {
  height: 20%;
  width: 100%;
  position: relative;
  display: flex;
  align-items: center;
}

.background {
  width: 100%;
  height: 100%;
  background-image: url(./assets/images/sky-background.jpg);
  background-position: center;
  background-size: cover;
  filter: grayscale(1) invert(0) opacity(0.2);
  position: absolute;
  z-index: 0;
}

.titleContent {
  width: 70%;
  height: 100%;
  opacity: 1;
  margin: 0 auto;
  z-index: 1;
  display: flex;
  justify-content: center;
  flex-direction: column;
  gap: 12px;
}

.title {
  margin: 0px;
  font-size: 32px;
  font-weight: bold;
}

.subTitle {
  margin: 0px;
  color: #000;
}

.contentContainer {
  width: 70%;
  margin: 0 auto;
  padding-top: 32px;
  margin-bottom: 32px;
}

.latestUpdateContainer {
  min-height: calc(22rem - 48px);
  width: 100%;
  background-color: #fff;
  border-radius: 12px;
  padding: 24px;
  display: flex;
  align-items: center;
  gap: 24px;
}

.leftSide {
  width: 40%;
  height: 100%;
  display: flex;
  flex-direction: column;
  gap: 12px;
  min-height: calc(22rem - 48px);
}

.rightSide {
  width: 60%;
  height: 100%;
  min-height: calc(22rem - 48px);
}

.featuredSign {
  background-color: #025152;
  width: 28%;
  min-height: 28px;
  border-radius: 24px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.featuredLabel {
  color: #fff;
  font-size: 14px;
  letter-spacing: 2px;
}

.featuredTitle {
  letter-spacing: 1px;
}

.featuredInfo {
  color: #555;
  letter-spacing: 1px;
  line-height: 23px;
}

.publishedDate {
  color: #555;
}

.publishedDate span {
  color: #000;
}

.readMoreButton {
  background-color: #025152;
  border: none;
  min-height: 32px;
  margin-top: 12px;
  width: 28%;
  border-radius: 8px;
  color: #fff;
  transition: all 0.3s;
  cursor: pointer;
}

.readMoreButton:hover {
  background-color: #cbc74d;
  color: #000;
}

.imageContainer {
  height: 100%;
  width: 100%;
  background-image: url(./assets/images/reactors.jpg);
  background-position: center;
  background-size: cover;
  border-radius: 12px;
  min-height: calc(22rem - 48px);
}

.newsContainer {
  display: flex;
  width: 70%;
  margin: 0 auto;
  margin-bottom: 32px;
  gap: 32px;
}

.filterContainer {
  background-color: #fff;
  padding: 12px;
  border-radius: 12px;
  width: 25%;
  max-height: max-content;
}

.filterTitle {
  font-weight: bold;
  font-size: 20px;
}

.optionsList {
  padding: 0px;
}

.listItem {
  list-style: none;
  min-height: 48px;
  display: flex;
  align-items: center;
  margin: 6px 0px;
  padding-left: 12px;
  padding-right: 12px;
  border-radius: 8px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  cursor: pointer;
  transition: all 0.3s;
}

.listItem:hover {
  color: #fff;
  background-color: #025152;
}

.listItem span {
  color: #aaa;
}

.listItem:hover span {
  color: #fff;
}

.paginationContainer {
  border-top: solid 1px #ddd;
  padding-top: 24px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.paginationButton {
  width: 42px;
  height: 32px;
  background-color: #f6f6f6;
  border: solid 1px #ddd;
  border-radius: 4px;
  cursor: pointer;
  transition: all 0.3s;
}

.paginationButton:hover {
  background-color: #025152;
  color: #fff;
}

#selected {
  background-color: #025152;
  color: #fff;
}

.allNewsContainer {
  width: 75%;
  padding: 12px;
  background-color: #fff;
  padding: 12px;
  border-radius: 12px;
}
